Architecture: windows_%PKG_INSTALLABLE_PLATFORMS%
CompatibilityVersion: 190006
Depends: %PKG_DEPENDENCIES%
Description: %PKG_DESCRIPTION%
DisplayName: %PKG_DISPLAY_NAME% (%BITNESS%-bit)
DisplayVersion: %LQ_VERSION%
Homepage: https://github.com/JKSH/LQ-Bindings
Installed-Size: %PKG_SIZE%
Maintainer: Sze Howe Koh <szehowe.koh@gmail.com>
Package: %PKG_NAME%
Plugin: file
Priority: optional
Section: %PKG_SECTION%
StoreProduct: yes
UserVisible: yes
Version: %LQ_VERSION%
